// Here is a configuration file for tokens
id_token:{
  id= sdfsdf
  create_ts = 1234567890
  type = wlcg
  versions = [1.2, 2.0]
  enabled = true

  qdl =
  [
  "abd := 'foo';"
  "def += 'baz';"
  ]
  templates : [ {
    aud = "https://bigstate.edu/1"
    path = "execute:/fee/fei/fo"
  }
 {
     aud = "https://bigstate.edu/2"
     path = "execute:/fee/fei/fum"
   }
]

} //end id token

access_token:{
    id=qweqwe
    create_ts = 9875634564560
}