<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <display-name>The SAS Service</display-name>

    <servlet-mapping>
        <servlet-name>sas</servlet-name>
        <url-pattern>/sas/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>sas</servlet-name>
        <servlet-class>edu.uiuc.ncsa.sas.SASServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <!--
      The next section should be uncommented if you are running this as a standalone service under Tomcat.
      This forces all network traffic to run over SSL.  If you are running this under Apache, then you should
      comment out it.
      -->


      <security-constraint>
          <web-resource-collection>
              <web-resource-name>portalSecurity</web-resource-name>
              <url-pattern>/*</url-pattern>
              <http-method>GET</http-method>
              <http-method>POST</http-method>
          </web-resource-collection>
          <user-data-constraint>
              <transport-guarantee>CONFIDENTIAL</transport-guarantee>
          </user-data-constraint>
      </security-constraint>

<!--
       <login-config>
          <auth-method>BASIC</auth-method>
        </login-config>
-->

    <listener>
        <listener-class>edu.uiuc.ncsa.sas.loader.SASBootstrapper</listener-class>
    </listener>

</web-app>